@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1e1f22;
  color: #dbdee1;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Custom Discord Smooth Dark Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111214;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1a1b1e #2b2d31;
}
